branding_name: "Dean"

account:
  timezone: "Europe/Amsterdam"
  currency: "EUR"

ids:
  asc_plus_campaign_id: "120234137971970160"
  asc_plus_adset_id: "120234137971980160"

placements:
  asc_plus:
    advantage_plus_placements: true

asc_plus:
  daily_budget_eur: 100
  target_active_ads: 15
  optimization_goal: "ADD_TO_CART"
  naming_prefix: "[ASC+]"

scheduler:
  asc_plus_tick_minutes: 60
  run_order:
    - "asc_plus"

logging:
  sqlite:
    path: "data/state.sqlite"
